@keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(254, 235, 141, 0.8), 0 0 10px rgb(247, 228, 120), 0 0 15px rgb(251, 230, 96);
    }
    50% {
      box-shadow: 0 0 40px rgba(255, 242, 175, 0.8), 0 0 10px rgb(247, 228, 120), 0 0 15px rgb(251, 230, 96);
    }
    100% {
      box-shadow: 0 0 5px rgba(255, 242, 175, 0.8), 0 0 10px rgb(247, 228, 120), 0 0 15px rgb(251, 230, 96);
    }
  }
  

  .animate-glow {
    animation: glow 1.5s infinite ease-in-out;
  }
  .scroll-up {
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
#animated-text {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out; /* Smooth transition */
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Start slightly below */
}
#header.sticky {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}